#page-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    header{
        display: flex;
        gap: 10px;
        justify-content: center;
        
        input{
            height: 42px;
            padding: 5px;
            font-size: 16px;
            border-radius: 8px;
            display: flex;
            flex: 1;
            max-width: 300px;
            font-family: 10px;
            background-color: #8a2be2;
            border:none;
            color:#fffafa;
           
           
        }
        
    }
    main{
        padding: 20px;
        width: 100%;
        max-width: 800px;
        color: #fffafa;

        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: #8a2be2;
            margin-bottom: 5px;
            border-radius: 8px;
            border:none;
            padding:  10px;
            
            


        }
    }
}